:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  color-scheme: light dark;

  
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px; /* Ширина скроллбара */
  border-radius: 3px; /* Скругление углов скроллбара */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track); /* Цвет скроллбара */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb); /* Цвет скроллбара */
  border-radius: 5px; /* Скругление углов скроллбара */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(
    --color-scrollbar-thumb-hover
  ); /* Цвет скроллбара при наведении */
}
