:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-color: #474747;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1;
}

code {
  background-color: #1a1a1a;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 6px; /* Ширина скроллбара */
  border-radius: 3px; /* Скругление углов скроллбара */
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424; /* Цвет скроллбара */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858; /* Цвет скроллбара */
  border-radius: 5px; /* Скругление углов скроллбара */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a; /* Цвет скроллбара при наведении */
}
